# ==========================
# Virtual environments
# ==========================
venv/
myenv/
.venv/
env/

# ==========================
# Python build/cache
# ==========================
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Env / Secrets
# ==========================
.env
*.env

# ==========================
# IDE / OS
# ==========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================
# DVC
# ==========================
.dvc/cache/
.dvc/tmp/

data/
!data/.dvc

